.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(128px + 1.5rem);

  img {
    margin-top: 1.5rem;
  }

  div {
    margin-top: 1.5rem;
  }
}

form {
  display: flex;
  flex-direction: column;
}

.table-spinner {
  margin-left: calc(50% - 64px);
}

.error {
  color: red;
}