<div class="row">
    <div class="col-md-6">

        <mdb-card cascade="true" narrower="true">

            <div class="view gradient-card-header blue darken-2 rounded">
                <h4 class="h4-responsive text-white">
                    Список пользователей
                </h4>
            </div>

            <mdb-card-body>

                <table *ngIf="!isManyFetching; else users_loading" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                        </tr>
                    </tbody>
                </table>

                <ng-template #users_loading>
                    <div
                        class="spinner-border text-primary table-spinner"
                        style="width: 128px; height: 128px;"
                        role="status"
                        >
                    </div>
                </ng-template>

                <form class="d-flex md-form justify-content-center my-0">
                    <input #perPageInput (change)="onChange(perPageInput,pageInput)" [disabled]="isManyFetching" type="search" placeholder="Выберите количество элементов на странице" aria-label="Search" class="form-control" mdbInput>
                    <input #pageInput (change)="onChange(perPageInput,pageInput)" [disabled]="isManyFetching" type="search" placeholder="Выберите номер страницы" aria-label="Search" class="form-control" mdbInput>
                </form>

                <span
                    *ngIf="fetchingManyErrorMessage"
                    class="error"
                    >
                        {{ fetchingManyErrorMessage }}
                </span>

            </mdb-card-body>

        </mdb-card>

    </div>
    <div class="col-md-6">

        <mdb-card cascade="true" narrower="true">

            <div class="avatar view overlay hm-white-slight waves-light">
                <img
                    *ngIf="targetUser || !init; else empty_avatar"
                    src="{{ targetUser?.avatar }}"
                    class="img-fluid"
                    height="128"
                    width="128"
                >

                <ng-template #empty_avatar>
                    <div
                        *ngIf="isOneFetching"
                        class="spinner-border text-primary"
                        style="width: 128px; height: 128px;"
                        role="status"
                        >
                    </div>
                </ng-template>
            </div>

            <mdb-card-body class="text-center">

                <h4 class="card-title font-bold mb-2">
                    <strong *ngIf="targetUser; else empty_name">
                        {{ targetUser?.first_name }} {{ targetUser?.last_name }}
                    </strong>
                    
                    <ng-template #empty_name>
                        <strong>Пользователь не найден</strong>
                    </ng-template>
                </h4>
                <h5 class="indigo-text">
                    <strong *ngIf="targetUser; else empty_email">
                        {{ targetUser?.email }}
                    </strong>
                    
                    <ng-template #empty_email>
                        <strong [ngClass]="{error:fetchingOneErrorMessage}">
                            {{ fetchingOneErrorMessage ? fetchingOneErrorMessage : 'нет данных' }}
                        </strong>
                    </ng-template>
                </h5>

                <p class='text-justify'>
                    Попробуйте найти пользователя по имени и/или фамилии
                </p>

                <form class="d-flex md-form justify-content-center my-0">
                    <input #firstNameInput type="search" placeholder="Введите имя для поика" aria-label="Search" class="form-control" mdbInput>
                    <input #lastNameInput type="search" placeholder="Введите фамилию для поика" aria-label="Search" class="form-control" mdbInput>
                </form>

                <div class="text-right">
                    <button
                        (click)="onSearch()"
                        [disabled]="isOneFetching"
                        type="button"
                        outline="true"
                        color="primary"
                        rounded="true"
                        size="sm"
                        mdbBtn
                        mdbWavesEffect
                        >
                            Поиск
                    </button>
                </div>

            </mdb-card-body>

        </mdb-card>

    </div>
</div>
