<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a href="https://mdbootstrap.com/docs/angular/" target="_blank" class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt="MDB-Logo">
        </a>

        <div class="list-group list-group-flush">

            <a routerLink="users" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <b>•</b> Поиск пользователей
            </a>
            <a routerLink="task" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <b>•</b> Задание
            </a>

        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

        <!-- Navbar brand -->
        <logo class="ml-3">
            <a class="navbar-brand" href="http://unica.credit/" target="_blank">
                <strong class="blue-text">Unica Credit</strong>
            </a>
        </logo>

        <!-- Collapsible content -->
        <links>
            <!-- Search form -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="https://gitlab.com/muturgan/unica_credit_back" class="nav-link border border-light rounded" target="_blank" mdbWavesEffect>
                        BackEnd Repo
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://gitlab.com/muturgan/unica_credit_front" class="ml-1 nav-link border border-light rounded" target="_blank" mdbWavesEffect>
                        FrontEnd Repo
                    </a>
                </li>
            </ul>
        </links>

    </mdb-navbar>

</header>