<div class="row">
    <div class="col-md-12">

        <mdb-card cascade="true" narrower="true">

            <div class="view gradient-card-header blue darken-2 rounded">
                <h4 class="h4-responsive text-white">
                    Задание
                </h4>
            </div>

            <mdb-card-body>

                <p>
                    API - <a href="https://reqres.in/" target="_blank">https://reqres.in/</a>
                </p>
                <p>
                    Разработать сервис, считывающий список пользователей (/api/users) и загружающий их в собственную БД.
                    Разработать интерфейс поиска пользователей по имени и/или фамилии.
                    БД пользователей должна обновляться раз в минуту.
                    Т.е. при появлении новых пользователей они должны попадать в БД и быть доступными для поиска.
                    Выбор БД — любой. Сервис должен быть разработан на Node.js, интерфейс — также на ваш выбор: React, Angular и подобные.
                    Код желательно опубликовать на Github или Gitlab.
                </p>             

            </mdb-card-body>

        </mdb-card>

    </div>
</div>
